# Project files, etc...
.idea/


# Files that might include sensitive info
*.ini
!*_example.ini

*.bat
!*_example.bat

*.conf
!*_example.conf

.env


# Cache, ...
**/__pycache__/


# Files generated on the fly
static/
!static/NOTE.md
templates/
!templates/NOTE.md

# EXAMPLES from templates/
!templates/404_example.html
!templates/index_example.html